@inherits LayoutComponentBase
@using MichCord.Components.Channels
<PageTitle>MichCord</PageTitle>

<div class="page">
    <div class="sidenav">
        <ChannelList />
    </div>

    <main>
        @Body
    </main>
</div>
