@page "/"
@using MichCordUI.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h1>Testing class libraries:</h1>
<h3>Channel List</h3>
<ChannelList Channels=@Channels>
    <div>
        @context.Name
    </div>
</ChannelList>

@code {
    /*
    * 
    * TESTING
    * 
    */
    private IEnumerable<Channel> Channels;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Channels = new Channel[]
        {
            new Channel {Name = "Foo"},
            new Channel {Name = "Bar"},
            new Channel {Name = "Baz"}
        };
    }
}