@page "/"
@using MichCord.Components

<PageTitle>Index</PageTitle>

<h1>Welcome to MichCord!</h1>

<h1>Testing class libraries:</h1>
<h3>Channel List</h3>
<ChannelList/>

It's like discord, but for the cool Michelin peeps.

Feel free to join a channel, write a direct message to a friend, or even make your own channel.

The time is now @time

@code{
    string time = DateTime.Now.ToString();
}
