* {
    margin: 0;
    padding: 0;
}
.channel-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 12fr 1fr;
}
.channel-header{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.channel-header p {
    margin-top: auto;
}
.message-stream {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .15rem;
}
.gap {
    width: 100%;
    padding: 1.4rem;
    opacity: 0;
    text-align: center;
}
.gap:hover {
    opacity: .5;
}
form {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}
.message-box {
    display: flex;
    gap: .25rem;
}
input[type="text"] {
    width: 100%;
    height: 2rem;
}
