@using MichCord.Data
@inject DummyChannelData data
@inject AppMeta meta
<nav>
    <p>MichCord</p>
    <h2>Channels</h2>
    <ul>
    @foreach(Channel channel in @data.channels)
    {
       <a onclick=@(() => handleClick(channel))>
           # @channel.Name
       </a> 
    }  
   </ul>
</nav>

@code {
    public void handleClick(Channel channel)
    {
        meta.CurrentChannel = channel;
    }
}
