@using MichCord.Data
<nav>
    <p>MichCord</p>
    <h2>Channels</h2>
    <ul>
    @foreach(Channel channel in Channels)
    {
       <a href="@channel.Url" title="@channel.Description">
           <NavLink># @channel.Name</NavLink>
       </a> 
    }  
   </ul>
</nav>

@code {
    private IEnumerable<Channel> Channels;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Channels = new Channel[]
        {
            new Channel("Home", "", "Welcome Home"),
            new Channel("General", "general", "General Chat"),
            new Channel("Film & TV", "filmtv", "Film & TV"),
            new Channel("Fetch Data", "fetchdata", "Fetch Some Data")
        };
    }
}
